html,
body {
  height: 100%;
  font-family: "Microsoft Yahei";
}
body {
  margin: 0;
  min-width: 320px;
  padding: 0;
}
img {
  border: 0;
}
p {
  margin: 0;
}
dd {
  margin: 0;
}
.chartbox {
  padding: 20px 0;
}
#intro {
  background: url('../images/intro-bg.jpg') 30% 0 no-repeat fixed;
  background-size: cover;
  color: white;
  height: 100%;
  margin: 0 auto;
  padding: 40px 0;
}
#intro .content {
  margin: 10% auto;
  border: 4px solid #efefef;
  padding: 10px 30px;
  width: 40%;
}
#intro .content-wapper {
  padding: 0 5%;
}
#intro .content h1,
#intro .content h2 {
  font-weight: normal;
}
#intro .content h2 {
  font-size: 16px;
}
@media screen and (max-width: 640px) {
  #intro {
    background: url('../images/intro-bg-small.jpg') 0 0 no-repeat;
    background-size: auto 100%;
    height: 400px;
  }
  #intro .content {
    margin-top: 40px;
    border-width: 1px;
  }
  #intro .content h1 {
    font-size: 22px;
  }
  #intro .content h2 {
    font-size: 16px;
  }
}
#section-0 .content {
  overflow: hidden;
}
#section-0 .content .float-text {
  float: left;
  width: 45%;
  font-size: 14px;
  line-height: 32px;
  color: #333;
}
#section-0 .content .float-text p {
  margin: 20px 0;
}
#section-0 .content .float-text:first-child {
  text-align: justify;
  margin-right: 10%;
}
#section-0 .content .float-text:nth-child(2) {
  font-family: Helvetica, sans-serif;
}
#section-0 .content .float-text .line {
  border-top: 2px solid #677CD1;
  width: 20%;
}
@media screen and (max-width: 640px) {
  #section-0 .content .float-text {
    width: 80%;
    margin: 0 10%;
  }
  #section-0 .content .float-text:nth-child(2) {
    display: none;
  }
}
#section-1 .viewbox {
  background: url('../images/shortage.jpg') 50% 0 no-repeat fixed;
}
#section-1 .viewbox .float-text {
  float: left;
}
#section-2 .viewbox {
  background: url('../images/waterTap.jpg') 50% 0 no-repeat fixed;
}
#section-2 .viewbox .float-text {
  float: right;
}
#section-3 .viewbox {
  background: url('../images/drougntChina.jpg') 50% 0 no-repeat fixed;
}
#section-3 .viewbox .float-text {
  float: left;
}
#section-4 .viewbox {
  background: url('../images/COD-bg.jpg') 50% 0 no-repeat fixed;
}
#section-4 .viewbox .float-text {
  float: right;
}
#section-5 .viewbox {
  background: url('../images/swimmingPool.jpg') 50% 0 no-repeat fixed;
}
#section-5 .viewbox .float-text {
  float: left;
}
#section-0 .content,
#section-1 .content,
#section-2 .content,
#section-3 .content,
#section-4 .content,
#section-5 .content {
  padding: 0 5%;
}
#section-0 .content-wrapper,
#section-1 .content-wrapper,
#section-2 .content-wrapper,
#section-3 .content-wrapper,
#section-4 .content-wrapper,
#section-5 .content-wrapper {
  padding: 40px 0;
}
#section-0 .viewbox,
#section-1 .viewbox,
#section-2 .viewbox,
#section-3 .viewbox,
#section-4 .viewbox,
#section-5 .viewbox {
  background-size: cover;
  color: white;
  height: 600px;
  margin: 0 auto;
}
#section-0 .viewbox .float-text,
#section-1 .viewbox .float-text,
#section-2 .viewbox .float-text,
#section-3 .viewbox .float-text,
#section-4 .viewbox .float-text,
#section-5 .viewbox .float-text {
  margin-top: 10%;
  padding: 0 5%;
  width: 40%;
  text-shadow: 0 0 20px #333;
  line-height: 30px;
}
#section-0 .viewbox .float-text dt,
#section-1 .viewbox .float-text dt,
#section-2 .viewbox .float-text dt,
#section-3 .viewbox .float-text dt,
#section-4 .viewbox .float-text dt,
#section-5 .viewbox .float-text dt {
  padding-bottom: 10px;
  font-size: 24px;
}
#section-0 .viewbox .float-text dd,
#section-1 .viewbox .float-text dd,
#section-2 .viewbox .float-text dd,
#section-3 .viewbox .float-text dd,
#section-4 .viewbox .float-text dd,
#section-5 .viewbox .float-text dd {
  text-align: justify;
}
#section-0 .viewbox-static,
#section-1 .viewbox-static,
#section-2 .viewbox-static,
#section-3 .viewbox-static,
#section-4 .viewbox-static,
#section-5 .viewbox-static {
  display: none;
  width: 100%;
  overflow: hidden;
}
#section-0 .viewbox-static img,
#section-1 .viewbox-static img,
#section-2 .viewbox-static img,
#section-3 .viewbox-static img,
#section-4 .viewbox-static img,
#section-5 .viewbox-static img {
  max-width: 100%;
}
@media screen and (max-width: 640px) {
  #section-1 .viewbox,
  #section-2 .viewbox,
  #section-3 .viewbox,
  #section-4 .viewbox,
  #section-5 .viewbox {
    display: none;
  }
  #section-1 .viewbox-static,
  #section-2 .viewbox-static,
  #section-3 .viewbox-static,
  #section-4 .viewbox-static,
  #section-5 .viewbox-static {
    display: block;
    background-size: 100% auto;
    background-position: center;
  }
  #chart-1-china-map {
    height: 350px !important;
  }
  #chart-2-line,
  #chart-3-bar,
  #chart-4-china-scatter {
    height: 450px !important;
  }
  #chart-5-world-map {
    height: 300px !important;
  }
}
#footer .content {
  padding: 20px 80px 60px;
  background-color: #343434;
}
#footer .content p {
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  text-align: center;
}
#footer .content p a {
  color: #2B77C4;
  text-decoration: none;
}
#footer .content p a:hover {
  color: #eee;
}
